<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Practice_NewArrivals::main"
             title="New Arrivals"
             module="Practice_NewArrivals"
             parent="Magento_Catalog::catalog"
             sortOrder="100"
             resource="Practice_NewArrivals::newarrivals"
             action="newarrivals/index/index" />
    </menu>
</config>
